:root{
    --main-color1: #ca4cc4;
    --main-color2: rgba(255, 0, 174, 0.518);
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;
    --port-color: #00ffff;
}

.info-content h1{
    color: var(--port-color);
}

.info-box .span1{
    color: var(--port-color);
}

.social-content a{
    border: solid 1px var(--port-color);
}

.social-content a:hover{
    color: var(--port-color);
}